body{
    background-color: #0f1424;
    font-family: Rubik;

    color: #BBC0FF;
}
/* Change width spacing of entire grid */
.container-spacing{
max-width: 85% !important;
margin-top: 100px;
margin-bottom: 100px;
}
/* Creates a white border for Jeremy Robson's image */
.img-border{
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
/* resizes Jeremy's image */
.img-border img{
    width: 78px;
    height: 78px;
}
/* Main Card Start*/
.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
/* Makes first card take the first column */
.main-card{
    grid-row-start: 1;
    grid-row-end: 3;
    height: 518px;
}
.student-name{
    font-size: 40px;
}
.title-size{
    font-size: 18px;
}
@media (max-width: 800px)
{
    .main-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 40% repeat(7, 30%) 5rem;
        gap: 24px;
    }
    .main-card
    {
        grid-row-end: 2;
        height: auto;
    }
    .student-name{
        font-size: 24px;
    }
    .img-border{
        width: 68px;
        height: 68px;
    }
    .img-border img{
        width: 64px;
        height: 64px;
    }  
    .title-size{
    font-size: 14px;
}
}
/* Function to add hover towards cards */
.card-hover:hover{
    background-color:#33397A;

}
/* This is the default color for daily, weekly, and monthly */
.nav-link{
    color: #7078C9;
}
/* Active class created to keep active button highlighted: used JS to manipulate what btn is active */
.active{
    color:white;
}
/* Adds hover effect for daily, weekly and monthly buttons */
.nav-link:hover{
    color: white;
}
/* Function adds a hover effect when hovering over the ellipsis! */
.icon-color:hover{
    filter: brightness(150%);

}
/* Function to turn off hover for card and turn on hover for ellipsis */
.card-hover:has(.icon-color:hover):hover{
    background-color: #1C204B;
    box-shadow: none;
}
/* This class is to give background for all card body content */
.bg-card-text {
    background-color: #1C204B;
    border-radius: 15px;
}
/* classes for all custom card colors START */
.bg-custom{
    background-color: #5747EA;
    border-radius: 15px;
}
.bg-work{
    background-color: #FF8B64;
    border-radius: 15px;
}
.bg-play{
    background-color: #55C2E6;
    border-radius: 15px;
}
.bg-study{
    background-color: #FF5E7D;
    border-radius: 15px;
}
.bg-exercise{
    background-color: #4BCF82;
    border-radius: 15px;
}
.bg-social{
    background-color: #7335D2;
    border-radius: 15px;
}
.bg-self-care{
    background-color: #F1C75B;
    border-radius: 15px;
}
/* Custom card colors END */
/*  */
/* Custom padding for current time! */
.card-padding{
    padding-bottom: 8px;
    padding-left: 8px;
}

.current-hour-text{
    font-size: 56px;
}

.navbar-nav{
    padding-left: 24px;
}
@media (max-width: 800px)
{
    .current-hour-text{
        font-size: 32px;
    }
     .card-padding{
        padding-left: 24px;
        padding-bottom: 0px;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding-left: 0px;
    }
    .nav-link{
        padding-left: 8px;
        padding-right: 8px;
    }
} 
