body{
    background-color: #0E1323;
    font-family: Rubik;
    color: #BBC0FF;
}
.bg-custom{
    background-color: #5747EA;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    gap: 25px;
}
.main-card{
    grid-row-start: 1;
    grid-row-end: 3;
}

.bg-card-text {
    background-color: #1C204B;
}
.container-spacing{
max-width: 85% !important;
margin-top: 200px;
}
/* classes for all custom card colors */
.bg-work{
    background-color: #FF8B64;
}