body{
    background-color: #0E1323;
    font-family: Rubik;
}
.bg-custom{
    background-color: #5747EA;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 30%);
    gap: 10px;
}
.main-card{
    grid-row-start: 1;
    grid-row-end: 3;
}

.bg-card-text {
    background-color: #1C204B;
}
.text-custom-color
{
    color: #BBC0FF;
}
.container-spacing{
max-width: 85% !important;
margin-top: 200px;
}