body{
    background-color: #0E1323;
    font-family: Rubik;
    
    color: #BBC0FF;
}
.container-spacing{
max-width: 85% !important;
margin-top: 100px;
margin-bottom: 100px;
}
/* Main Card Start*/
.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}
.main-card{
    grid-row-start: 1;
    grid-row-end: 3;
}
.card-hover:hover{
    background-color:#33397A;
}
.nav-link:hover{
    color: white;
}
.icon-color{
    fill: transparent;
    stroke: transparent;
    stroke-width: 2;
}
.icon-color:hover{
    fill: white !important;
    
}
/* For Main Card */
.bg-custom{
    background-color: #5747EA;
    border-radius: 15px;
}
.bg-card-text {
    background-color: #1C204B;
    border-radius: 15px;
}
/* classes for all custom card colors START */
.bg-work{
    background-color: #FF8B64;
    border-radius: 15px;
}
/* Custom card colors END */