body{
    background-color: #0f1424;
    font-family: Rubik;

    color: #BBC0FF;
}
.container-spacing{
max-width: 85% !important;
margin-top: 100px;
margin-bottom: 100px;
}
.img-border{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
.img-border img{
    width: 78px !important;
    height: 78px !important;
}
/* Main Card Start*/
.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}
.main-card{
    grid-row-start: 1;
    grid-row-end: 3;
}
.student-name{
    font-size: 40px;
}
@media (max-width: 800px)
{
    .main-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 50% repeat(7, 40%);
        gap: 30px;
    }
    .main-card
    {
        grid-row-end: 2;
    }
    .student-name{
        font-size: 24px;
    }
    .img-border{
        width: 70px;
        height: 70px;
    }
    .img-border img{
        width: 64px !important;
        height: 64px !important;
    }
}
.card-hover:hover{
    background-color:#33397A;

}
.nav-link{
    color: #7078C9;
}
.active{
    color:white;
}
.nav-link:hover{
    color: white;
}
.icon-color{
    fill: transparent;
    stroke: transparent;
    stroke-width: 2;
}
        /* Function Work In Progress! */
.icon-color:hover{
    filter: brightness(150%);

}
.card-hover:has(.icon-color:hover):hover{
    background-color: #1C204B;
    box-shadow: none;
}
/* For Main Card */
.bg-custom{
    background-color: #5747EA;
    border-radius: 15px;
}
.bg-card-text {
    background-color: #1C204B;
    border-radius: 15px;
}
/* classes for all custom card colors START */
.bg-work{
    background-color: #FF8B64;
    border-radius: 15px;
}
.bg-play{
    background-color: #55C2E6;
    border-radius: 15px;
}
.bg-study{
    background-color: #FF5E7D;
    border-radius: 15px;
}
.bg-exercise{
    background-color: #4BCF82;
    border-radius: 15px;
}
.bg-social{
    background-color: #7335D2;
    border-radius: 15px;
}
.bg-self-care{
    background-color: #F1C75B;
    border-radius: 15px;
}
/* Custom card colors END */
.card-padding{
    padding-bottom: 8px;
    padding-left: 8px;
}

.current-hour-text{
    font-size: 56px;
}

.navbar-nav{
    padding-left: 24px;
}
@media (max-width: 800px)
{
    .current-hour-text{
        font-size: 32px;
        /* padding-left: 22px; */
    }
     .card-padding{
        padding-left: 24px;
        padding-bottom: 0px;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding-left: 0px;
    }
    .nav-link{
        padding-left: 8px;
        padding-right: 8px;
    }
} 
